<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
</head>
<body>
<a href="javascript:history.back()" class="btn btn-primary">返回上一页</a>
<div>
    <table>
        <thead>
        <tr>
            <th>系统权限</th>
            <th>描述信息</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.role}">ROLE_ADMIN</td>
            <td th:text="${item.description}">管理员相关权限</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<style>
    table {
        border-spacing: 0 10px;
    }

    td,
    th {
        padding: 10px;
    }
</style>
